@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --bg-d: #040404;
  --bg: #1d1d1d;
  --bg-l: #828282;

  --p-c: #ffd43b;
}

body {
  font-family: var(--font-raleway), sans-serif;
  background-color: var(--bg);
  color: #fff;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

@media screen and (max-width: 48em) {
  .container {
    max-width: 65rem;
  }
}

@media screen and (max-width: 28.75em) {
  html {
    font-size: 50%;
  }

  .container {
    max-width: 40rem;
  }
}

@media screen and (max-width: 20em) {
  html {
    font-size: 50%;
  }

  .container {
    max-width: 35rem;
  }
}

@media screen and (min-width: 87.5em) {
  html {
    font-size: 75%;
  }

  .container {
    max-width: 110rem;
  }
}

@media screen and (min-width: 100em) {
  html {
    font-size: 68.75%;
  }

  .container {
    max-width: 130rem;
  }
}

@media screen and (min-width: 118.75em) {
  html {
    font-size: 87.5%;
  }

  .container {
    max-width: 135rem;
  }
}