@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --bg-d: #040404;
  --bg: #1d1d1d;
  --bg-l: #828282;

  --p-c: #ffd43b;
}

body {
  font-family: var(--font-raleway), sans-serif;
  background-color: var(--bg);
  color: #fff;
}

.container {
  width: 120rem;
  margin: 0 auto;
}
