.contact {
  padding: 3rem 0;
  
  &-contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 5rem;
    row-gap: 2rem;
    height: 70%;

    @media screen and (max-width: 48em) {
        display: block;
      }
  }

  &-social {
    border: 1px solid var(--bg-l);
    border-radius: 10px;
    transition: all 0.3s;

    &:hover {
      background-color: rgba(200, 200, 200, 0.2);
    }

    @media screen and (max-width: 48em) {
        margin-bottom: 2rem;
      }
  }

  &-social:hover &-icon-container {
    background-color: var(--p-c);
  }

  &-icon-container {
    width: 10rem;
    height: 10rem;
    margin: 3rem auto 2rem auto;
    background-color: #828282;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;

    @media screen and (max-width: 48em) {
        margin: 1.5rem auto 1rem auto;
      }
  }

  &-icon {
    height: 5rem;
    width: 5rem;
    color: #fff;
  }

  &-text {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: var(--font-poppins);
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &-link {
    height: 100%;
    width: 100%;
  }
}
